<template>
  <require from="./widgets/pool-schedule"></require>

    <div id="schedule">
      <h3>Pooltjuh schedule
        <span if.bind="pool.user.isLoggedIn" class="user pull-right" click.delegate="edit(pool.user.user.id)">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> ${ pool.user.firstName } ${ pool.user.lastName }
        </span>
      </h3>

      <div>

        <p if.bind="!pool"><em>Loading...</em></p>

        <!-- Nav tabs -->
        <ul if.bind="pool" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
          <li role="presentation"><a href="#group" aria-controls="group" role="tab" data-toggle="tab">Group</a></li>
          <li role="presentation"><a href="#country" aria-controls="country" role="tab" data-toggle="tab">Country</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="overview">

            <pool-schedule items.bind="pool.schedule & signal:'data'"></pool-schedule>

          </div>
          <div role="tabpanel" class="tab-pane" id="group">

            <div class="schedule" repeat.for="group of groups & signal:'data'">
              <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Group ${ group }</h3></div>
                <table class="table group">
                    <tr>
                      <th class="hidden-tn"></th>
                      <th></th>
                      <th>P</th>
                      <th>W</th>
                      <th>D</th>
                      <th>L</th>
                      <th>P</th>
                      <th>+</th>
                      <th>-</th>
                      <th class="hidden-tn"></th>
                    </tr>
                    <tr repeat.for="schedule of schedulePoule(group) & signal:'data'">
                      <td class="hidden-tn">${ $index + 1 }</td>
                      <td><img if.bind="imageUrl(schedule.countryCode)" src.bind="imageUrl(schedule.countryCode)" /><span class="visible-tn-block"></span> ${ schedule.country }</td>
                      <td>${ schedule.play }</td>
                      <td>${ schedule.win }</td>
                      <td>${ schedule.draw }</td>
                      <td>${ schedule.lost }</td>
                      <td>${ schedule.point }</td>
                      <td>${ schedule.plus }</td>
                      <td>${ schedule.min }</td>
                      <td class="hidden-tn">${ score(schedule) }</td>
                    </tr>
                  </table>
                </div>

                <pool-schedule items.bind="scheduleGroup(group) & signal:'data'"></pool-schedule>

            </div>

          </div>
          <div role="tabpanel" class="tab-pane" id="country">

            <div class="schedule" repeat.for="country of countries & signal:'data'">

              <pool-schedule country.bind="country & signal:'data'" items.bind="scheduleCountry(country.id) & signal:'data'"></pool-schedule>

            </div>

          </div>
        </div>

      </div>
    </div>
  </template>