#predictions,
#schedule {
  & .nav > li.active > a {
    color: #337ab7;
    font-weight: bold;
  }

  & .tab-content {
    margin-top: 5px;
  }

  & .user {
    font-size: 14px;
    cursor: pointer;
    border-bottom: solid 1px #ccc;
    padding-bottom: 3px;
  }

  & .prediction,
  & .schedule {
    & .item {
      cursor: pointer;
    }

    & img {
      border: 1px solid #ccc;
      width: 30px;
      border-radius: 4px;
    }

    & table {
      & tr td {
        & div {
          border-bottom: solid 1px #ddd;
          margin-bottom: 5px;
          font-weight: bold;
          margin-left: -10px;
          margin-right: -10px;
          padding-left: 10px;
          padding-right: 10px;

          &.no-border {
            border-bottom: 0;
          }
        }
      }

      &.group {
        & th:nth-of-type(2) { width: 250px; }
      }

      &.schedule {
        & th:nth-of-type(1) { width: 60px; }
        & th:nth-of-type(2) { width: 60px; }
        & th:nth-of-type(3) { width: 30px; }
        & th:nth-of-type(4) { width: 200px; }
        & th:nth-of-type(5) { width: 200px; }
        & th:nth-of-type(6) { width: 200px; }
      }

      &.prediction {
        & .inline {
          display: inline-block;
          width: 100px;
          
          & .input {
            display: inline-block;
            width: 55px;
          }
        }
      }
    }

    & select {
      height: 280px;
      width: 180px;
      display: inline-block;
    }
    @media (max-width: 767px) {
      & select {
        width: inherit;
      }
    }
    & .padding-bottom {
      padding-bottom: 10px;
    }
  }

  & .buttons {
    padding: 10px;
  }

  .vertical-align {
    display: flex;
    flex-direction: row;
  }
  
  .vertical-align > [class^="col-"],
  .vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;     /* Align the flex-items vertically */
    justify-content: center; /* Optional, to align inner flex-items horizontally within the column  */
  }

  .padding {
    padding: 10px;
  }
}