<template>
  <div class="pool-country-selector">
    <div class="row padding" if.bind="title">
      <div class="col-xs-12">
        <h5>${title}</h5>
      </div>
    </div>
    <div class="pool-country-selector row vertical-align padding">
      <div class="col-xs-5 text-center">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="padding-bottom text-center">Countries</div>
          </div>
          <div class="col-xs-12 text-center">
            <select multiple class="form-control" if.bind="countries" value.bind="addCountries">
              <option repeat.for="country of countries" model.bind="country">${country.name}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-xs-2 text-center">
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-default" click.trigger="deselect(countries, selectedCountries)" disabled.bind="selectedCountries.length === 0">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <button type="button" class="btn btn-default" click.trigger="select(countries, selectedCountries, max)" disabled.bind="selectedCountries.length === max">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-5 text-center">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="padding-bottom">${ toSelect(selectedCountries, max) & signal:'selected' }</div>
          </div>
          <div class="col-xs-12 text-center">
            <select multiple class="form-control" if.bind="selectedCountries" value.bind="removeCountries">
              <option repeat.for="country of selectedCountries" model.bind="country">${country.name}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>